@mixin hamburger {
	box-sizing: border-box;
	padding: 30%;
	margin: auto;
}

.hamburger-open {
	@include hamburger;
	background-color: yellow;
}

.hamburger-closed {
	@include hamburger;
	background-color: blue;
}
