html,
body,
#root,
.root {
	margin: 0;
	height: 100%;
}

.root {
	display: grid;
	grid-template-rows: 6.5em auto;
}

.middle {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-template-columns: auto auto;
}
