.root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6% 94%;
  height: 100%;

  .content {
    display: grid;
    grid-template-columns: 5% 85% 10%;
    grid-template-rows: 100%;

    &.open-sidebar {
      grid-template-columns: 10% 80% 10%;
    }
  }
}
