$mini-width: 3.5em;
$extended-width: 8.5em;

@mixin sidebar {
	box-sizing: border-box;
	align-items: center;
	background-color: green;
	transition: width 0.5s;
	overflow: hidden;
}

.sidebar-mini {
	@include sidebar;
	width: $mini-width;
}

.sidebar-extended {
	@include sidebar;
	width: $extended-width;
}

.mini-icon-stack {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: min-content;
	margin-top: 1.5em;
}
