$top-nav-pad: 0.75em;

.top-nav {
	$n: $top-nav-pad;
	display: grid;
	grid-template-columns: 4em auto auto;
	background-color: red;
	padding: $top-nav-pad 0;
}

.top-nav .top-nav-title {
	margin: auto auto auto 0;
}

.top-nav .mini-login {
	margin: auto 2em auto auto;
}
