.top-nav {
  display: grid;
  grid-template-columns: 5em auto auto;
  background-color: red;
  padding: 0.75em 0;
}

.top-nav .top-nav-title {
  margin: auto auto auto 0;
}

.top-nav .mini-login {
  margin: auto 2em auto auto;
}

.top-nav:first-child {
  grid-column: 1 / 3;
}
